
  
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(../imagenes/fondo3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    flex-wrap: wrap; 
    min-height: 100%;
}
    
.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    background: transparent;
    align-items: center;
    z-index: 100;
}

.Logo {
    font-size: 32px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
    text-align: end;
}

.navbar a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    text-align: center;
    position: relative;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background:#fff;
    transition: .3s;

}
.navbar a:hover::before{
    width: 100%;
}

h1 {
    color: azure;
    text-align: center;
    
}

/* Productos */

.products {
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgb(0, 0, 0);
    left: 250px;
}

.product img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product:hover{
    background-color: #ec8383;
    transition: 0.5s;
}

.product-content h2, .product-content p{
    height: 100px;
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 24px;
    width: 100%;
}

.product-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
}

.product-content a {
    text-decoration: none;
    background-color: aliceblue;
    padding: 10px;
    border: 1px solid white;
    color: rgb(13, 13, 13);
    font-size: 20px;  
    width: 100%;
    text-align: center;
    border-radius: 15px;
} 

.product-content a:hover {
    background-color: rgb(243, 200, 121);
    transition: 1s;
}

.contac a {
    position: relative;
    left: 50%;
}
.suscrip {
  flex-direction: column;
  flex-wrap: wrap;
}
@media (max-width:417px){
  .suscrip {flex-direction: column;

  }
}


.Suscribete {
    text-align: center;
    
    flex-wrap: wrap;
}
@media (max-width:322px){
  .Suscribete {width: 300px;
    flex-direction: column;
  }
}


.post {
    flex-wrap: wrap;
    text-align: center;
    
}
@media (max-width:322px){
  .post {
    width: 300px;
    flex-direction: column;

  }
}


/* section mujer */
.Mujer {
    background-image: url(../imagenes/fondomujer.png);
    flex-direction: column;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    flex-wrap: wrap; 
    min-height: 100%;
    position: relative;
    
}

.categoria {
    color: rgb(164, 93, 158);
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-template-rows: auto;
    grid-template-areas: 
    'caja1 caja2 caja3'
    'caja4 caja5 caja6'
    'caja7 caja8 caja9';
    padding: 10px;
    gap: 40px;
    margin: 30px;
    justify-content: center;
}

.box-item {
        display: grid;
        place-content: center;
        border: 5px solid wheat;
        border-radius: 10%;
        width: 200px;
        height: 200px;
        background-color: rgb(234, 192, 240);   
}

.box-content button{
        background-color:rgb(214, 154, 234);
        color: rgb(0, 0, 0);
        font-size: 20px;
        border-radius: 18px;
        padding: 10px;
        width: 100%;
        margin-top: 130px;
}

.c1 {
    display: grid caja1;
}

.c2 {
    display: grid caja2;
}

.c3 {
    display: grid caja3;
}

.c4 {
    display: grid caja4;
}

.c5 {
    display: grid caja5;
}

.c6 {
    display: grid caja6;
}

.c7 {
    display: grid caja7;
}

.c8 {
    display: grid caja8;
}

.c9 {
    display: grid caja9;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 25px 20px 22px;
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #e8e8e8;
    border-color: #ffe2e2;
    border-style: solid;
    border-width: 9px;
    border-radius: 35px;
    font-size: 25px;
    font-weight: 900;
    color: rgb(134, 124, 124);
    font-family: monospace;
    transition: transform 400ms cubic-bezier(.68,-0.55,.27,2.5), 
    border-color 400ms ease-in-out,
    background-color 400ms ease-in-out;
    word-spacing: -2px;
  }
  
  @keyframes movingBorders {
    0% {
      border-color: #fce4e4;
    }
  
    50% {
      border-color: #ffd8d8;
    }
  
    90% {
      border-color: #fce4e4;
    }
  }
  
  button:hover {
    background-color: #eee;
    transform: scale(105%);
    animation: movingBorders 3s infinite;
  }
  
  button svg {
    margin-right: 11px;
    fill: rgb(255, 110, 110);
    transition: opacity 100ms ease-in-out;
  }
  
  .filled {
    position: absolute;
    opacity: 0;
    top: 20px;
    left: 22px;
  }
  
  @keyframes beatingHeart {
    0% {
      transform: scale(1);
    }
  
    15% {
      transform: scale(1.15);
    }
  
    30% {
      transform: scale(1);
    }
  
    45% {
      transform: scale(1.15);
    }
  
    60% {
      transform: scale(1);
    }
  }
  
  button:hover .empty {
    opacity: 0;
  }
  
  button:hover .filled {
    opacity: 1;
    animation: beatingHeart 1.2s infinite;
  }

.Hombre {
    display: flex;
    flex-direction: column;
    background-image: url(../imagenes/fondohombres.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    flex-wrap: wrap; 
    min-height: 100%;
    position: relative;
}

.ventas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
@media (max-width:1055px){
  .ventas {flex-direction: column;
    display: flex;

  }
}
@media (max-width:1055px){
  .grids {grid-template-columns: repeat(auto, 1fr);}
}



.accordion {
    width: 250px;
    position: relative;
    margin: 30px;
}
   
.grids {
    display: grid;
    grid-template-columns: repeat(auto, 0fr);
    grid-template-rows: auto;
    grid-template-areas: 
    'box1 box2 box3'
    'box4 box5 box6'
    'box7 box8 box9'
    'box10 box11 box12';
    gap: 40px;
    margin: 30px;
    justify-content: center;
}
.grids-item {
    display: grid;
    place-content: center;
    border: 5px solid wheat;
    border-radius: 10%;
    width: 300px;
    height: 300px;
    background-color: rgb(54, 33, 0);
}
  
.b1 {
    grid-area: box1;   
}
    
.b2 {
    grid-area: box2;
}

.b3 {    
    grid-area: box3;
}

.b4 {
    grid-area: box4;
}

.b5 {
    grid-area: box5;
}

.b6 {
    grid-area: box6;
}

.b7 {
    grid-area: box7;
}

.b8 {
    grid-area: box8;
}

.b9 {
    grid-area: box9;
}
.b10 {
    grid-area: box10;
}
.b11 {
    grid-area: box11;
}
.b12 {
    grid-area: box12;
}

.grids-item button {
    background-color:rgb(94, 72, 31);
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    margin-top: 150px;
}
/* botones edit */
.btn-17,
.btn-17,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
  
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
 
}

.btn-17 [hidden] {
  display: none;
}

.btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}
    
.product-contentmasc {
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid rgb(49, 32, 206);
    color: rgb(255, 255, 255);
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.product-contentmasc a {
    color: rgb(189, 141, 141);
    text-decoration: none;
    padding: 5px;
    border: 1px solid rgb(253, 253, 253);
    font-size: 15px;
    width: 100%;
    text-align: center;
}

.categoriachicos {
    background-color: #68b5c6;
    background-image: none;
}

.categoriachicos h1 {
    color: black;
}


.carousel-caption > h5 {
    font-family: 'poppins';
    font-size: 30px;
}

.carousel-caption > p {
    font-family: 'poppins';
    font-size: 16px;
}

.carousel {
    margin: 150px 150px;
}

.carousel,
.carousel-inner > .carousel-item > img {
    width: 60vw;
    height: 60vh;
    object-fit: cover;
    margin: auto;
}

/* Inicia sesesion */

.iniciasesion {
    margin: 0;
    padding: 0;
    background: linear-gradient(150deg, #cd7373, #420a0a);
}

.Formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: white;
    border-radius: 10px;
}

.Formulario h2 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.Formulario form {
    padding: 0 30px;
    box-sizing: border-box;
}
@media (max-width:399px){
  .form {
         text-align: left;
  

  }
}


.Formulariousername {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.usernameinput {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.Buscanos {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
}  

.enlaces {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.footer {
    
    margin-top: auto;
    background-image: url(../imagenes/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:rgb(255, 255, 255);
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    
    
   
    