@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html {
  height: 100%;
}

.Buscanos {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 15px;
}

.enlaces {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer {
  margin-top: auto;
  background-image: url(../imagenes/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-toggler {
  background-color: #26a9d5;
  border-radius: 15px;
}

.navbar-toggler-icon {
  height: 25px;
  width: 25px;
}

.navbar-brand {
  background-color: transparent;
  border-radius: 20px;
  color: rgb(68, 255, 255);
}

.navbar a {
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  text-align: center;
  position: relative;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #00bbff;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

.nav-item {
  background-color: #b6aeae;
  border-radius: 10px;
  margin-left: 5px;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  background: transparent;
  align-items: center;
  z-index: 100;
}

.categoriachicos {
  background-color: #af4605;
  background-image: none;
}

.categoriachicos h1 {
  color: rgb(0, 0, 0);
}

.encontra {
  display: grid;
  place-items: center;
  background-color: rgb(255, 179, 37);
  color: rgb(11, 11, 11);
  border: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.encontra {
  animation: mover-izquierda-derecha 2s infinite;
}

@keyframes mover-izquierda-derecha {
  from {
    transform: translate(-10px);
  }
}
.productos {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  gap: 10px;
}

.contenidos {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: rgb(0, 0, 0);
  left: 250px;
  border-radius: 5px;
}

.contenidos img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.contenidos:hover {
  background-color: #140383;
  transform: scale(1.1);
  transition: 1s;
}

.contenidos-content h2, .product-content p {
  height: 100px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 24px;
  width: 100%;
}

.contenidos-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
}

.contenidos-content a {
  text-decoration: none;
  background-color: aliceblue;
  padding: 10px;
  border: 1px solid white;
  color: rgb(13, 13, 13);
  font-size: 20px;
  width: 100%;
  text-align: center;
  border-radius: 15px;
}

.contenidos-content a:hover {
  background-color: rgb(31, 215, 235);
  transition: 1s;
}

.Hombre {
  display: flex;
  flex-direction: column;
  background-color: #094b84;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  flex-wrap: wrap;
  min-height: 100%;
  position: relative;
}

.accordion-body {
  background-color: rgb(149, 143, 143);
  color: black;
}

.calzado {
  display: grid;
  place-items: center;
  background-color: rgb(59, 57, 57);
  color: rgb(255, 255, 255);
  border: 10px;
  border-radius: 15px;
  font-size: 16px;
}

.negro {
  background-color: black;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
}

.azul {
  background-color: rgb(38, 0, 253);
  width: 35px;
  height: 35px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
}

.rojo {
  background-color: rgb(254, 0, 0);
  width: 35px;
  height: 35px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
}

.nueve {
  width: 30px;
  height: 30px;
  border-radius: 18px;
  color: rgb(0, 0, 0);
}

.diez {
  width: 30px;
  height: 30px;
  border-radius: 18px;
  color: rgb(0, 0, 0);
}

.once {
  width: 30px;
  height: 30px;
  border-radius: 18px;
  color: rgb(0, 0, 0);
}

.ventash {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.accordion {
  width: 250px;
  position: relative;
  margin: 30px;
}

.grids {
  display: grid;
  grid-template-columns: repeat(auto, 0fr);
  grid-template-rows: auto;
  grid-template-areas: "box1 box2 box3" "box4 box5 box6" "box7 box8 box9";
  gap: 40px;
  margin: 30px;
  justify-content: center;
}

.grids-item {
  display: grid;
  place-content: center;
  border: 5px solid wheat;
  border-radius: 10%;
  width: 20px;
  height: 200px;
}

.b1 {
  grid-area: box1;
  background-image: url(../imagenes/adizero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

.b2 {
  grid-area: box2;
  background-image: url(../imagenes/terrex.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

.b3 {
  grid-area: box3;
  background-image: url(../imagenes/grandcourt.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

.b4 {
  grid-area: box4;
  background-image: url(../imagenes/azulprimerfila.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

.b5 {
  grid-area: box5;
  background-image: url(../imagenes/azulsegundafila.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

.b6 {
  grid-area: box6;
  background-image: url(../imagenes/azultercerfila.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

.b7 {
  grid-area: box7;
  background-image: url(../imagenes/rojaprimerfila.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

.b8 {
  grid-area: box8;
  background-image: url(../imagenes/rojasegundafila.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

.b9 {
  grid-area: box9;
  background-image: url(../imagenes/rojatercerrfila.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

.grids-item button {
  background-color: rgb(229, 207, 161);
  color: rgb(0, 0, 0);
  border-radius: 15px;
  font-size: 15px;
  padding: 5px;
  width: 100%;
  margin-top: 120px;
}

.grids-item button:hover {
  background-color: #4d83b5;
  transition: 0.5s;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #c93f3f;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  flex-wrap: wrap;
  min-height: 100%;
}

h1 {
  color: azure;
  text-align: center;
}

/* Productos */
.products {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  gap: 20px;
}

.product {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: rgb(85, 61, 61);
  left: 250px;
}

.product img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product:hover {
  background-color: #ec8383;
  transition: 0.5s;
}

.product-content h2, .product-content p {
  height: 100px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 24px;
  width: 100%;
}

.product-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
}

.product-content a {
  text-decoration: none;
  background-color: aliceblue;
  padding: 10px;
  border: 1px solid white;
  color: rgb(13, 13, 13);
  font-size: 20px;
  width: 100%;
  text-align: center;
  border-radius: 15px;
}

.product-content a:hover {
  background-color: rgb(243, 200, 121);
  transition: 1s;
}

.contac a {
  position: relative;
  left: 50%;
}

.suscrip {
  flex-direction: column;
  flex-wrap: wrap;
}

.Suscribete {
  text-align: center;
  flex-wrap: wrap;
}

.Enviar input {
  background-image: linear-gradient(150deg, #ff0000, rgb(255, 162, 0), #d9c284);
  padding: 5px 5px;
  border-radius: 10px;
}

.Enviar input:hover {
  transform: scale(1.1);
  transition: 0.3s;
  background-color: rgb(118, 2, 2);
  color: rgb(255, 255, 255);
}

.post {
  flex-wrap: wrap;
  text-align: center;
  border-radius: 15px;
}

.post input {
  padding: 6px 6px;
  border-radius: 15px;
}

.Mujer {
  display: flex;
  background-color: #5c266b;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  flex-wrap: wrap;
  min-height: 100%;
  position: relative;
}

.categoria {
  color: rgb(255, 255, 255);
}

.calza {
  display: grid;
  place-items: center;
  background-color: rgb(62, 59, 59);
  color: white;
  border: 10px;
  border-radius: 15px;
  font-size: 16px;
}

.ventas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px));
  grid-template-rows: auto;
  grid-template-areas: "caja1 caja2 caja3" "caja4 caja5 caja6" "caja7 caja8 caja9";
  padding: 10px;
  gap: 40px;
  margin: 30px;
  justify-content: center;
}

.box-item {
  display: grid;
  place-content: center;
  border: 5px solid wheat;
  border-radius: 10%;
  width: 200px;
  height: 200px;
  background-color: rgb(234, 192, 240);
}

.c1 {
  display: grid caja1;
  background-image: url(../imagenes/primercalza.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

.c2 {
  display: grid caja2;
  background-image: url(../imagenes/segundacalza.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

.c3 {
  display: grid caja3;
  background-image: url(../imagenes/terceracalza.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

.c4 {
  display: grid caja4;
  background-image: url(../imagenes/calzamorada.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

.c5 {
  display: grid caja5;
  background-image: url(../imagenes/calzamorada2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

.c6 {
  display: grid caja6;
  background-image: url(../imagenes/calzamorada3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

.c7 {
  display: grid caja7;
  background-image: url(../imagenes/calzarosada.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

.c8 {
  display: grid caja8;
  background-image: url(../imagenes/calzarosada2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

.c9 {
  display: grid caja9;
  background-image: url(../imagenes/calzarosada3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 200px;
}

.box-item button {
  background-color: rgb(242, 173, 231);
  color: rgb(0, 0, 0);
  border-radius: 15px;
  font-size: 15px;
  padding: 5px;
  width: 100%;
  margin-top: 120px;
}

/* tamaño mujeres */
.talles {
  background-color: #7e8fd6;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
}

.tallem {
  background-color: rgb(235, 127, 127);
  width: 35px;
  height: 35px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
}

.tallel {
  background-color: rgb(160, 241, 149);
  width: 35px;
  height: 35px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
}

/* colores mujeres */
.negros {
  background-color: rgb(13, 13, 13);
  width: 40px;
  height: 40px;
  border-radius: 25px;
  color: rgb(255, 255, 255);
}

.rosado {
  background-color: rgb(222, 82, 238);
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.morado {
  background-color: rgb(100, 5, 111);
  width: 40px;
  height: 40px;
  border-radius: 25px;
  color: rgb(255, 255, 255);
}

.iniciasesion {
  margin: 0;
  padding: 0;
  background: linear-gradient(150deg, #058c88, #7f09ae);
}

.Formulario {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: white;
  border-radius: 10px;
}

.Formulario h2 {
  text-align: center;
  border-bottom: 1px solid rgb(255, 255, 255);
  font-family: "poppins", sans-serif;
}

.Formulario form {
  padding: 0 10px;
  box-sizing: border-box;
}

.Formulario {
  background-color: rgb(188, 105, 105);
}

.inicias input {
  background-image: linear-gradient(150deg, #9500ff, #09f, #00ddff);
  padding: 8px 8px;
  border-radius: 15px;
}

.inicias input:hover {
  transform: scale(1.1);
  transition: 0.3s;
  background-color: rgb(118, 2, 2);
  color: rgb(255, 255, 255);
}

.Formulariousername {
  position: relative;
  border-bottom: 2px solid #ffffff;
  margin: 30px 0;
}

.usernameinput {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.username {
  display: grid;
  justify-content: center;
}

.contraseña {
  display: grid;
  justify-content: center;
  width: 100%;
}

.inicias {
  display: grid;
  justify-content: center;
}

.recordar {
  display: grid;
  justify-content: center;
}

@media (max-width: 417px) {
  .suscrip {
    flex-direction: column;
  }
}
@media (max-width: 322px) {
  .Suscribete {
    width: 300px;
    flex-direction: column;
  }
}
@media (max-width: 322px) {
  .post {
    width: 300px;
    flex-direction: column;
  }
}
@media screen and (max-width: 777px) {
  .box {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 326px) {
  .ventas {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 757px) {
  .ventash {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  .ventash {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 757px) {
  .grids {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 326px) {
  .grids {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 450px) {
  .Formulario {
    padding: 30px;
    background-color: rgb(214, 149, 149);
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .username {
    display: grid;
    justify-content: center;
  }
}
@media screen and (max-width: 991px) {
  .contraseña {
    display: grid;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .recordar {
    display: grid;
    justify-content: center;
  }
}
@media screen and (max-width: 991px) {
  .inicias {
    display: grid;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
