
.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    background: transparent;
    align-items: center;
    z-index: 100;
}