.iniciasesion {
    margin: 0;
    padding: 0;
    background: linear-gradient(150deg,#7e8fd6,#432ae7);
}

.Formulario {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: white;
    border-radius: 10px;
}

.Formulario h2 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.Formulario form {
    padding: 0 30px;
    box-sizing: border-box;
}
@media (max-width:399px){
  .form {
         text-align: left;
  

  }
}


.Formulariousername {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.usernameinput {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}