@media (max-width:417px){
    .suscrip {flex-direction: column;
  
    }
  }
  @media (max-width:322px){
    .Suscribete {width: 300px;
      flex-direction: column;
    }
  }
  @media (max-width:322px){
    .post {
      width: 300px;
      flex-direction: column;
  
    }
  }
  @media screen and (max-width: 777px){
    .box {display: flex;
    flex-direction: column;}
  }
  
  @media (max-width: 326px){
    .ventas {display: flex;
    flex-direction: column;}
  }
  @media screen and (max-width: 757px){
    .ventash {display: flex;
    flex-direction: column;}
  }
  @media (max-width:320px){
    .ventash {display: flex;
    flex-direction: column;}
  }
  @media (max-width: 757px){
    .grids {display: flex;
    flex-direction: column;}
  }
  @media (max-width:326px){
    .grids {display: flex;
    flex-direction: column;}
  }
  @media (max-width:399px){
    .form {
           text-align: left;
    
  
    }
  }